<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOTEL RESERVATION PREDICTION</title>


</head>
<body>
    <div class="conatine">
        <h2>Hotel Reservation Prediction</h2>

        <form method="POST">
            <div class="form-group">
                <label for="lead_time">Lead Time</label>
                <input type="number" name="lead_time" id="lead_time" required>
            </div>


            <div class="form-group">
                <label for="no_of_special_request">Lead Time</label>
                <input type="number" name="no_of_special_request" id="no_of_special_request" required>
            </div>

             <div class="form-group">
                <label for="avg_price_per_room">Lead Time</label>
                <input type="number" name="avg_price_per_room" id="avg_price_per_room" required>
            </div>

             <div class="form-group">
                <label for="arrival_month">Lead Time</label>
                <input type="number" name="no_of_special_arrival_monthrequest" id="no_of_special_request" required>
            </div>

             <div class="form-group">
                <label for="no_of_special_request">Lead Time</label>
                <input type="number" name="no_of_special_request" id="no_of_special_request" required>
            </div>

             <div class="form-group">
                <label for="no_of_special_request">Lead Time</label>
                <input type="number" name="no_of_special_request" id="no_of_special_request" required>
            </div>


        
        
        
        
        
        </form>
    </div>
</body>
</html>